html {
  max-width: 75ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.50;
  font-size: 1.25em;
  font-family: sans-serif;
  text-align:justify;
}

a {
  color:#d29100;
  font-weight:bolder;
  text-decoration:none;
}

a:hover {
  color:#a49580;
  font-weight:bolder;
  text-decoration:none;
}

#header h1 {
  color:#161616;
}

#header h2 {
  color:#d29100;
}

#body {
  border:1px solid #999;
  padding: 1em;
}

#content {
  padding-bottom: 1em;
}

#educ{
  border-top:1px solid #999;
  padding-top: 1em;
}

#publis{
  border-top:1px solid #999;
  padding-top: 1em;
}

#contact{
  border-top:1px solid #999;
  padding-top: 1em;
}

#footer {
  text-align:center;
}

#picture {
  height:10em;
}
